@{
    ViewData["Title"] = "Privacy Policy";
    //tinfo200:[2021-03-13-ktran20-dykstra2] - Preliminary material being added to the Privacy method's view
}
<!--tinfo200:[2021-03-13-ktran20-dykstra2] - Display information in the Privacy tab-->
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["FirstName"]</h2>
<h3>@ViewData["LastName"]</h3>
<h4>@ViewData["EmailAddress"]</h4>

<p>Use this page to detail your site's privacy policy.</p>
